.prim-slider

{
    margin: 0;
    min-height: 100px;
    border: 0;
    background: #003366;
    background: -moz-linear-gradient(-45deg, #003366  0%, #003366  100%);
    background: -webkit-linear-gradient(-45deg, #003366  0%,#003366  100%);
    background: linear-gradient(180deg, #5290ce 0%,#03203e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#003366 ',GradientType=1 );
}
.prim-slider-bg-01
{
    position: relative;
    background: rgba(0, 0, 0, 0) url(patternbg2.png) repeat fixed right 0;
    padding: 0;
}
body
{
    color:white;
}
h2
{
    color:white;
}
.prim-slider.green
{
  background: linear-gradient(135deg, #68842f 0%,#8eb341 100%);
filter:
}
.padding-ver
{
  padding:100px 0px;
}

.slide-desc h2 {
    color: #ffffff;
    font-size: 43px;
}
.slide-desc p {
    color: #ffffff;
    font-size: 18px;
}
.btn-subscribe
 {
    display: block;
    border-radius: 5px;
    z-index: 6;
    width: 267px;
    height: 51px;
    background: rgba(218,149,55,1);
    box-shadow: none;
    text-shadow: none;
    color: #fff;
    font-size:20px;
    line-height: 50px;
    font-style: normal;
    text-align: center;
    margin: 0 auto;
    text-decoration:none;
    margin-top:55px;
}
.freetrial {
    margin-bottom: 40px;

}
.freetrial h3{
    font-size:30px;
}
.cycle-step {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    background-color: white;
    text-align: center;
    padding: 20px;
    display: inline-block;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 5px 12px rgba(0,0,0,0.2);
}
.cycle-step img
{
  width:130px;
  padding-top:36px;
}
.green .cycle-step
{
  border:3px dashed #8fb53f;
  box-shadow:none;
}
.green .step-text
{

border-radius: 5px;
color: #ffffff;
position: absolute;
background: #8fb53f url(patternbg2.png) repeat fixed right 0;
padding: 0;

}
.step-text
{
  color: #3990c6;
position: absolute;
left: 50%;
font-size: 30px;
top: 0px;
background: #f5f5f5;
z-index: -1;
height: 250px;
}
.step-text p
{
  margin-left: 150px;
  text-align: left;
  padding-top: 50px;
  line-height: 40px;
}
.step
{
  position:relative;
  margin-bottom:50px;
}

.arrow
{
  margin-bottom:30px;
  transform:rotateY(-180deg);
}
.right-step .step-text
{
  right: 50%;
left: auto;
}
.right-step p
{
  margin-right: 155px;
margin-left: 34px;
}

.testmonial-item {
    padding: 60px 30px;
    position: relative;
    background: rgba(255,255,255,.2);
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
    height: 500px;
}
.testmonial-wrapper > h4 {
    color: #fff;
    margin-bottom: 5px;
}
.testmonial-wrapper > a {
    color: rgba(255,255,255,.5);
}
.quote-left {
    display: block;
    left: 20px;
    top: 20px;
    z-index: 30;
    position: absolute;
}
.quote-right {
    display: block;
    right: 20px;
    bottom: 20px;
    z-index: 30;
    position: absolute;
}
.section-inverse {
    padding: 50px 0;
    background: #3990c6;
}
.section-inverse .freetrial h3, .section-inverse-pattern .freetrial h3 {
    color: #fff;
}.section-inverse-pattern {
    padding: 100px 0;
    position: relative;
    min-height: 200px;
}
.last-title
{
  font-size:30px;
  padding-bottom:50px;
  margin-top:-30px;
  line-height:38px;
}
@media only screen and (max-width : 1024px) {
  .step-text
  {
    font-size:25px;
  }
}
@media only screen and (max-width :768px) {
   .green .step-text
  {
    position: static !important;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  height: auto;
  }
  .step-text p
  {
    text-align:center;
    margin-left:0px;
    margin-right:0px;
    padding-top: initial;
  }
}
