
.block { width: 270px; display: inline-block; height: 170px;  padding-left: 30px; padding-bottom: 30px; text-align: center; vertical-align: top; position: relative; }
#multi { display: none; width: 260px; background: #333; color: #ddd; border: #777 1px solid; padding: 5px 0; }
