.header_slider {
	background:url(nautic-blue/header_bg.jpg) center 0 no-repeat;}

.topmenu .dropdown li a:hover,
.topmenu .dropdown .current-menu-item a,
.topmenu .dropdown .current-menu-item li a:hover,
.topmenu .dropdown .current-menu-item .current_page_item a,
.topmenu .dropdown .current-menu-ancestor a,
.topmenu .dropdown .current-menu-ancestor a:hover,
.topmenu .dropdown li li.current-menu-ancestor a,
.topmenu .dropdown li .current-menu-ancestor .current-menu-item a,
.topmenu .dropdown .menu-item-home.current-menu-item a, 
.topmenu .dropdown .menu-item-home a:hover{
	color:#3679b5;}

.widget_categories li:hover a,
.widget_categories .current-menu-item a {
	color:#3679b5;}

.tf_menu_left li a:hover,
.tf_menu_left .current-menu-item a, 
.tf_menu_left .current-menu-ancestor a,
.tf_menu_right li a:hover,
.tf_menu_right .current-menu-item a, 
.tf_menu_right .current-menu-ancestor a,
.tf_menu_left li ul .current-menu-item a,
.tf_menu_right li ul .current-menu-item a,
.tf_menu_left li ul li a:hover,
.tf_menu_right li ul li a:hover {
	color:#3679b5;}

.header_slider_thin {
	background: url(nautic-blue/header_bg_thin.jpg) center 0 no-repeat}

/* sliders */
.sText .slide-text {
	color:#f7fff4;}

.sImages .caption {
	color:#f6fcff;
	text-shadow:1px 1px 1px #000;
	background:url(nautic-blue/slider_caption.png);}

.sImages .pagination li a {
	background-image:url(nautic-blue/slider_pagination.png);}

.slider-button {
	background:url(nautic-blue/slider_button.png) no-repeat;} 

/* footer */
.footer {
	background:url(nautic-blue/footer_bg_img.jpg) 0 0 #174674 no-repeat;}

/* content */	
.content .link-more {
	color:#3679b5;}

a, .entry a, .text a {
	color:#3679b5}
	
.container_12 a:hover,
.content .link-more:hover {
	color:#016fd3}
	
.quote-text, .quote_right, .quote_left {
	color:#3679b5;}

.faq_question {
	color:#3679b5;}

.post-item h2 a:hover {
	color:#3679b5;}

.tf_pagination a {
	color:#3679b5;}
	
.tf_pagination a:hover {
	color:#adc301}

.tf_pagination .page_current {
	color:#000}

.comment-author, .comment-author .link-author  {
	color:#3679b5;}

.comment-entry .link-reply {
	color:#3679b5;}

.children li {
	background:url(nautic-blue/icon_reply.gif) 15px 23px no-repeat;}

.link-top, .link-addcomment {
	color:#3679b5;}

.btn-submit, 
.contact-form .btn-submit, 
.comment-form .btn-submit {
	background:url(nautic-blue/btn_submit.png) no-repeat;}

.button_link {
	background:url(../images/buttons_bg_blue.png) no-repeat scroll right -25px transparent;}

.button_link span, 
.text .button_link span {
	background:url(../images/buttons_bg_blue.png) no-repeat scroll left 0 transparent;}

.gl_col_1 .gallery-image:hover,
.gl_col_2 .gallery-image:hover,
.gl_col_3 .gallery-image:hover {
	background:#2278c1;}

.filter li a:hover span,
.filter li.current-menu-item a span {
	color:#3679b5}

.container_12 blockquote {
	color:#3679b5;}

.faq_question.active {
	color:#016fd3}